.box {
  background-color: transparent;
  width: 250px;
  height: 347px;
  perspective: 1000px;
  margin : $spacing-w-small;

  .box-inner {
    margin:0;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }
}

.hover-active:hover .box-inner {
  transform: rotateY(180deg);
}

.box-front, .box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.box-front {
  background-color: lightblue;
  color: #111111;
}

@mixin box-back($back-name) {
  background:url("../pictures/#{$back-name}");
  background-size:cover;
  color: #eeeeee;
  transform: rotateY(180deg);

  .btn{
    position:relative;
    top:65%;
  }

}

.box:nth-of-type(odd) .box-inner .box-back {
  @include box-back("carte2.png");
}

.box:nth-of-type(even) .box-inner .box-back {
  @include box-back("carte1.png");
}

.img-wrapper{
  width:100%;
  height:50%;

  overflow: hidden;

  img{
    height:100%;
    object-fit: cover;
  }
}
