
.page-footer{
  margin-top: $spacing-w-large;
  position:relative;

  &:before{
    $height : 7vw;
    position:absolute;
    top: -$height;

    content:" ";
    width:100%;
    height: $height;
    background: bottom/contain repeat-x url("../pictures/crowd.png");
  }
}
