$navbar-height: 64px;
$background: #fef9e7 ;

$primary: #A10115;
$secondary: #D72C16;
$dark: #626D71;
$light: gold;

$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;


$spacing-h-small : 2.5vh;
$spacing-h-normal : 5vh;
$spacing-h-large : 10vh;

$spacing-w-small : 2.5vw;
$spacing-w-normal : 5vw;
$spacing-w-large : 10vw;


