@import "_vars";
@import "~bootstrap/scss/bootstrap";
@import "_navbar";

@font-face {
    font-family: 'CircusCaps';
    src: url('../fonts/CircusCaps.otf') format('opentype');
}

@font-face {
    font-family: 'Bodoni';
    src: url(../fonts/bodoni.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/montserrat-light.ttf) format('truetype');
}

h1{
    font-family: "CircusCaps";
    color: $primary;
    margin-top: $navbar-height + 10px;
    text-align: center;
}

h2{
    font-family: "Bodoni";
    color:$primary;
    text-align: center;
}

p{
    font-family: "Montserrat";
    color:$dark;
}

section{
    padding: $spacing-h-large;
}
