@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: 'CircusCaps';
    src: url('../fonts/CircusCaps.otf') format('opentype');
}

@font-face {
    font-family: 'Bodoni';
    src: url(../fonts/bodoni.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/montserrat-light.ttf) format('truetype');
}

body {
    background-color: lightgray;

    h1{
        color:$danger;
    }
}

h1{
    font-family: "CircusCaps";
}

h2{
    font-family: "Bodoni";
}

h3{
    font-family: "Montserrat";
}
