@import "_vars";
@import "~bootstrap/scss/bootstrap";
@import "_navbar";
@import "_footer";

:root{
    --navbar-color-transp : white;
    --navbar-color : white;
    --navbar-link-color-dark : #A10115;
    --navbar-link-color-light : gold;
}

@font-face {
    font-family: 'CircusCaps';
    src: url('../fonts/CircusCaps.otf') format('opentype');
}

@font-face {
    font-family: 'Bodoni';
    src: url(../fonts/bodoni.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/montserrat-light.ttf) format('truetype');
}

h1{
    font-family: "CircusCaps";
    color: $primary;
    margin-top: $navbar-height + 10px;
    text-align: center;
}

h2{
    font-family: "Bodoni";
    color:$primary;
    text-align: center;
}

p{
    font-family: "Montserrat";
    color:$dark;
}

label{
    font-size:20px;
    color : $primary;
}

section{
    padding: $spacing-h-large;
}

.flashes{
    background : transparent;
    position : absolute;
    top : 1.5 * $navbar-height;
    width:100vw;

    div{
        text-align: center;
    }
}

footer{
    background : $primary;
    color:gold;

    a{
        color:gold;
    }
}
