@import "_vars";

:root{
  --navbar-color-transp : transparent;
  --navbar-color : white;
  --navbar-link-color-dark : #A10115;
  --navbar-link-color-light : gold;
}

.introduction{
  width:100vw;
  height:100vh;

  background-color: #FFFFFFCC;
  background: center/cover no-repeat url("../pictures/circusTentNight.jpg");

  .text-wrapper{
    position:absolute;
    left:10%;
    top:20%;

    p{
      color:gold;
      font-size: 30px;
    }

    h1{
      color:gold;
      font-size: 50px;
    }

  }
}

.story{
  position:relative;
}

.story-part{
  margin: $spacing-w-small;

  div{
    align-items: center;
    display: flex;
  }
}

.story-picture{
  width : 50%;
}

.show-card{
  margin : $spacing-w-normal;
  position:relative;
}

.box {
  background-color: transparent;
  width: 250px;
  height: 347px;
  perspective: 1000px;
  margin : $spacing-w-small;
}

.box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.box:hover .box-inner {
  transform: rotateY(180deg);
}

.box-front, .box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.box-front {
  background-color: lightblue;
  color: #111111;
}

.box-back {
  background:url("../pictures/carte1.png");
  background-size:cover;
  color: #eeeeee;
  transform: rotateY(180deg);

  .btn{
    position:relative;
    top:65%;
  }
}

.img-wrapper{
  width:100%;
  height:50%;

  overflow: hidden;

  img{
    height:100%;
    object-fit: cover;
  }
}

#parallax-object2, #parallax-object1{
  position:relative;
  top:0;
  left:0;
}

.artist-list{
  @extend %shadow !optional;

  background-image: url("../pictures/background.png");
  background-size: cover;
  background-position: center;
  justify-content: space-evenly;

  margin-top: $spacing-w-normal;
  margin-bottom: $spacing-w-normal;
  padding-top : $spacing-h-large;
  padding-bottom : $spacing-h-large;

  min-width:100vw;

  .artist-card{
    @extend %shadow !optional;

    align-items: center;

    height:65vh;

    margin-left:5vw;
    margin-right:5vw;

    .img-wrapper{
      display:flex;
      align-items: center;
      justify-content: center;

      min-height:50%;
      max-height: 50%;

      width:100%;
      overflow:hidden;
      object-fit: scale-down;

      background : #b21f2d;

      padding: $spacing-h-small;

      .object-picture{
        max-width: 100%;
        max-height: 100%;
      }
    }

    .name{
      text-align: center;
      margin: $spacing-h-small;
      padding-top : $spacing-h-small;

      border-top:thin solid $primary;

      min-height:25%;
      max-height: 25%;

      overflow:hidden;
    }

    .see-object{
      margin: $spacing-h-small;
    }
  }
}

