{% extends 'base.html.twig' %}

{% block title %}Modifier l'Artiste{% endblock %}

{% block body %}
    <h1>Edit Artist</h1>

    {{ include('artist/_form.html.twig', {'button_label': 'Enregistrer'}) }}

{% endblock %}
