{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent()}}
    {{ encore_entry_link_tags('artist') }}
{% endblock %}

{% block title %}Artist index{% endblock %}

{% block body %}
    <h1>Artist index</h1>

    <section class="artists container">
        {% for artist in artists %}
            {{ include('artist/_artistLine.html.twig', {'artist': artist}) }}
        {% else %}
            <p colspan="10">no records found</p>
        {% endfor %}
    </section>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('artist_new') }}">Create new</a>
    {%  endif %}
{% endblock %}
