
<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase font-italic">Informations utiles</h5>
                <p class="text-warning"> Attention, les hommes canons peuvent être pertubés en présence de femmes canon.</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase font-italic">Bonnes affaires</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.zoo-palmyre.fr/fr">Zoo de la Palmyre</a>
                    </li>
                    <li>
                        <a href="http://www.cirque-occasion.com/Categorie-19-Chapiteaux.htm">Cirque Occasion</a>
                    </li>
                    <li>
                        <a href="https://www.samu-urgences-de-france.fr/fr/">SAMU</a>
                    </li>
                    <li>
                        <a href="https://www.google.com/search?q=femme+canon&client=ubuntu&hs=KBh&channel=fs&source=lnms&tbm=isch&sa=X&ved=2ahUKEwi_mdPp4OPqAhXHyIUKHRPxDW0Q_AUoAXoECA0QAw&biw=1920&bih=886">Recueil de femmes canons</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase font-italic">Ecoles</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.ffgym.fr/Equipe_de_France">Fédération de gymnastique</a>
                    </li>
                    <li>
                        <a href="https://www.cidj.com/metiers/cascadeur-cascadeuse">Le métier de cascadeur</a>
                    </li>
                    <li>
                        <a href="http://flip-flap-circus.org/">Ecole de cirque Flip Flap</a>
                    </li>
                    <li>
                        <a href="https://www.zoo-palmyre.fr/fr">Zoo de la Palmyre</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">Venez nous voir nombreux
    </div>
    <!-- Copyright -->
</footer>
